<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{title}}</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-stepper [selectedIndex]="selectedIndex" (selectionChange)="onSelectionChange($event)">
      <mat-step [completed]="buttonset.length > 0" [editable]="isButtonEditable">
        <ng-template matStepLabel>
          <span>設定</span>
        </ng-template>
        <ng-template matStepContent>
          <app-inputmore label="ボタンの名前" placeholder="例: グループ活動" [(names)]="buttonset"></app-inputmore>
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          <span>記録</span>
        </ng-template>
        <ng-template matStepContent>
          <app-buttonset [buttonset]="buttonset" (clickButtonset)="onClickButtonset($event)"
            [multiple]="false"></app-buttonset>
        </ng-template>
      </mat-step>
      <mat-step [editable]="false">
        <ng-template matStepLabel>
          <span>結果</span>
        </ng-template>
        <ng-template matStepContent>
          <app-kokuban-chart [data]="treeData"></app-kokuban-chart>
        </ng-template>
      </mat-step>
    </mat-stepper>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>