.content-container {
    width: 100%;
    height: 100%;
}

#reportBtn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#meetURL {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.tab-icon {
    margin-right: 8px;
}

.spacer {
    flex: 1 1 auto;
}