.content {
    width: 600px;
    height: 750px;
}

#reportBtn{
    display: flex;
    justify-content: center;
    gap: 10px;
}

#meetURL{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.tab-icon {
    margin-right: 8px;
}

.spacer {
    flex: 1 1 auto;
}