<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>みえるもん</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-tab-group dynamicHeight selectedIndex="1">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">tune</mat-icon>
          <span>設定</span>
        </ng-template>
        <ng-template matTabContent>
          <div class="content-container">
            <app-inputmore label="ボタンの名前" placeholder="例: グループ活動" [(names)]="buttonset"></app-inputmore>
          </div>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">school</mat-icon>
          <span>記録</span>
        </ng-template>
        <div class="content-container" role="main">
          <app-buttonset [buttonset]="buttonset" (clickButtonset)="onClickButtonset($event)"
            [multiple]="false"></app-buttonset>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">analytics</mat-icon>
          <span>結果</span>
        </ng-template>
        <ng-template matTabContent>

          <div class="content-container">
            <app-kokuban-chart [data]="treeData"></app-kokuban-chart>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>