.content {
    width: 600px;
    height: 750px;
}

#reportBtn{
    display: flex;
    justify-content: center;
    gap: 10px;
}

#meetURL{
    display: flex;
    justify-content: center;
    gap: 10px;
}