<div>
    <mat-button-toggle-group [(ngModel)]="chartType" aria-label="Chart Type" (change)="onChangeChartType($event)">
        <mat-button-toggle value="Treemap">
            <mat-icon>dashboard</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="PieChart">
            <mat-icon>pie_chart</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="ColumnChart">
            <mat-icon>bar_chart</mat-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>

<mat-card>
    <mat-card-header>
        <mat-card-title>
        </mat-card-title>
        <mat-card-subtitle>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div id="chart-container">
            <div #chart_aria id="chart-aria"></div>
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-icon-button [disabled]="!isDrawn" [matMenuTriggerFor]="menu">
            <mat-icon>download</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onClickDownloadPNG($event)">
                <span>PNG</span>
            </button>
            <button mat-menu-item (click)="onClickDownloadCSV($event)">
                <span>CSV</span>
            </button>
        </mat-menu>

    </mat-card-actions>
</mat-card>